<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BD CALZADO</title>
    <LINK href="index.css" rel="stylesheet" type="text/css">
    <script src="index.js"></script>
  </head>

  <body>
    <h1>
	<form onsubmit="return envioConsultaID()" id="mi_form" method="GET">
     POR FAVOR, INTRODUCE EL ID DEL ARTÍCULO QUE QUIERES CONSULTAR.<p>
     A CONTINUACIÓN, SE MOSTRARÁ LA INFORMACIÓN CORRESPONDIENTE. 
     
     <p><input type="text" placeholder="ID_ARTÍCULO" id="id" />
      <input class="boton" type="submit" value="CONSULTAR"/>
    </form><h1>
  </body>
</html>
