<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BD CALZADO</title>
    <LINK href="index.css" rel="stylesheet" type="text/css">
    <script src="index.js"></script>
  </head>

  <body>
    
    <h1>
   <form onsubmit="return envioConsultaModelo()" id="mi_form" method="GET">
     POR FAVOR, INTRODUCE EL MODELO DEL ARTÍCULO QUE QUIERES CONSULTAR.<p>
     A CONTINUACIÓN, SE MOSTRARÁ LA INFORMACIÓN CORRESPONDIENTE. 
     
     <p><input type="text" placeholder="MODELO_ARTÍCULO" id="modelo" name="modelo" />
       <input class="boton" type="submit" value="CONSULTAR"/></h1>
    </form>
  </body>
</html>
