<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BD CALZADO</title>
    <LINK href="index.css" rel="stylesheet" type="text/css">
  </head>

  <body>
	     <h1>POR FAVOR, RELLENA LOS SIGUIENTES CAMPOS: 
             
	    <form action="/api/articulos/crear" method="POST"><p>
	      <input type="text" placeholder="ID_ARTÍCULO" name="id" />
	      <input type="text" placeholder="TIPO"  name="tipo" />
	      <input type="text" placeholder="MARCA" name="marca" />
	      <input type="text" placeholder="MODELO"name="modelo" />
	      <input type="text" placeholder="COLOR" name="color" /><p>
	      <input type="text" placeholder="TEJIDO"name="tejido" />
	      <input type="text" placeholder="PAIS"  name="pais" />
	      <input type="text" placeholder="FECHA" name="fecha" />
	      <input type="text" placeholder="TALLA" name="talla" />
	      <input type="text" placeholder="CANTIDAD" name="cantidad" /><p>
	       <input class="boton" type="submit" value="AÑADIR"/>
	    </form></h1> 
   </body>
</html>
