<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BD CALZADO</title>
    <LINK href="index.css" rel="stylesheet" type="text/css">
    <script src="index.js"></script>
  </head>

  <body><h1>
    <form onsubmit="return envioEliminarModelo()" id="mi_form">
     <h2>¡¡ATENCIÓN!!</h2> <p> EL ARTÍCULO CUYO MODELO SE CORRESPONDA CON EL MODELO INTRODUCIDO SERÁ ELIMINADO. 
     <p><input type="text" placeholder="MODELO_ARTÍCULO" id="modelo" name="modelo" />
      
      <input class="boton" type="submit" value="ELIMINAR"/></h1>
    </form>
  </body>
</html>
