<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BD CALZADO</title>
    <LINK href="index.css" rel="stylesheet" type="text/css">
  </head>

  <body>
  <div class="navbar">
        <div class="dropdown"> 
		<button class="dropbtn">CONSULTAR<i class="fa fa-caret-down"></i>
    		</button>
		<div class="dropdown-content">
			<a href="/api/articulos">CONSULTAR TODOS</a>
			<a href="/consultaID">CONSULTAR POR ID</a>		
			<a href="/consultaModelo">CONSULTAR POR MODELO</a>
	        </div>	
	</div>
	<a href ="/crear">AÑADIR</a>
	<div class="dropdown"> 
	   	<button class="dropbtn">ELIMINAR<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
		   	<a href="/eliminarID">ELIMINAR POR ID</a>
		   	<a href="/eliminarModelo">ELIMINAR POR MODELO</a>
		</div>
	</div>
	<div class="dropdown"> 
		<button class="dropbtn">ACTUALIZAR<i class="fa fa-caret-down"></i>
    		</button>
		<div class="dropdown-content">
			<a href ="/actualizarID">ACTUALIZAR POR ID</a>
			<a href ="/actualizarModelo">ACTUALIZAR POR MODELO</a>
	        </div>	
	</div>	
	
	<a href ="/comprar">COMPRAR</a>
  </div>
  </body>
</html>
